body {
  margin: 0;
  font-weight: 400;
  font-family: 'Open Sans', sans-serif;
  /*-webkit-font-smoothing: antialiased;*/
  font-size: 14px;
  color: dimgray;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;

}

a {
  text-decoration: none;
  color: dimgray;
  transition: all .3s;
}

a :hover {
  color: darkgray;
  text-decoration: none;
}

h2, h3, h4, h5, h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 400;
}

h4, h5 {
  color: lightgray;
  font-size: 18px;
}

/* header */
.header-title h1 {
  float: right;
}

/* main */
.menu-left a {
  font-weight: 500;
  color: dimgray;
  line-height: 29px;
  padding: 10px;
}

/* social */
.follow-me {
  list-style: none;
  color: dimgray;
  font-size: 14px;
  margin: 20px auto;
  padding: 0px;
}

.follow-me li {
  padding: 0px 5px;
  font-size: 18px;
  display: inline-block;
  margin: 0 auto;
}

.fa {
  display: inline-block;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}